{% extends "base.html" %}

{% block title %}Đăng Ký Ra Vào Doanh Trại{% endblock %}

{% block content %}
<header>
    <nav>
        <h1 style="color: #ccc;">HỆ THỐNG ĐĂNG KÍ RA VÀO DOANH TRẠI</h1>
        <ul>
            <li><a href="{% url 'home' %}" style="color: white; text-decoration: none;">Trang Chủ</a></li>
            <li><a href="{% url 'login' %}" style="color: white; text-decoration: none;">Đăng Xuất</a></li>
            <li><a href="s" style="color: white; text-decoration: none;">Thông tin</a></li>
        </ul>
    </nav>
</header>


<section id="dangky" class="card">
    <h2>Đăng Ký Ra Vào Doanh Trại</h2>

    <!-- Hiển thị thông báo nếu có -->
    {% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- dangky_form.html -->
    <form method="post" action="">
        {% csrf_token %}
        {{ form}}
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>

</section>
{% endblock %}
