{% extends 'base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}
<header>
  <nav>
      <h1 style="color: #ccc;">HỆ THỐNG ĐĂNG KÍ RA VÀO DOANH TRẠI</h1>
      <ul>
          <li><a href="{% url 'home' %}" style="color: white; text-decoration: none;">Trang Chủ</a></li>
          <li><a href="{% url 'login' %}" style="color: white; text-decoration: none;">Đăng Xuất</a></li>
          <li><a href="s" style="color: white; text-decoration: none;">Thông tin</a></li>
      </ul>
  </nav>
</header>


<h1 style="text-align: center; color: #1a5d1a; margin-bottom: 2rem; text-transform: uppercase;">Danh sách nhật ký</h1>
<div class="card-container" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
    <table class="table">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Họ Và Tên</th>
            <th scope="col">Nôi Dung</th>
            <th scope="col">Ngày</th>
            <th scope="col">Điểm</th>
            <th scope="col">Loại</th>
          </tr>
        </thead>
        <tbody>
          {% if diary_list %}
              {% for item in diary_list%}
              <tr>
                <td>{{item.Ten}}</td>
                <td>{{item.Noi_dung}}</td>
                <td>{{item.Ngay_dang_ky}}</td>
                <td>{{item.Diem}}</td>
                {%if item.is_vipham %}
                  <td>Điểm trừ</td>
                {% else %}
                  <td>Điểm cộng</td>
                {% endif %}
              {% endfor %}
              </tr>
          {% endif %}
        </tbody>
      </table>

</div>
{% endblock content %}
